<div class="fullwidth">
  <img class="media" src="/assets/races_banner.jpg" alt="A Cattle Dog with a sign saying 'Good luck Dad! Run Fast! Love you Lots!'">
</div>

<div class="row text-center page-title">
  <hr>
  <h1><%= @race.date.year %> <%= @race.name %></h1>
  <h3>Race Details</h3>
  <p>Location: <%= @race.location %></p>
  <p>Distance: <%= @race.distance %></p>
  <p>Maximum Temperature (F): <%= @race.temp_high %></p>
  <p>Minimum Temperature (F): <%= @race.temp_low %></p>
  <p>Climate: <%= @race.climate %></p>
  <hr>
  <h2>Product Reviews</h2>
  <hr>
</div>

<table>
  <tr>
    <th>Product Name</th>
    <th>Rating</th>
    <th>Date</th>
    <th>Comments</th>
    <th>User</th>
  </tr>
  <% @reviews.each do |review| %>
    <tr class="text-center review">
      <td><%= link_to "#{review.item.brand} #{review.item.model}", item_path(review.item) %></td>
      <td><%= review.rating %></td>
      <td><%= review.created_at %></td>
      <td><%= review.comments %></td>
      <td><%= link_to "#{review.user.strava_id}", "https://www.strava.com/athletes/#{review.user.strava_id}" %></td>
    </tr>
  <% end %>
</table>