<table>
  <tr>
    <th>User</th>
    <th>Review Date</th>
    <th>Rating</th>
    <th>Race</th>
    <th>Comments</th>
  </tr>
  <% reviews.each do |review| %>
    <tr class="user-review">
      <td><%= link_to review.user.strava_id, "https://www.strava.com/athletes/#{review.user.strava_id}" %>
      <td><%= review.created_at.to_date %></td>
      <td><%= review.rating %></td>
      <td><%= review.race.name %></td>
      <td><%= review.comments %></td>
    </tr>
  <% end %>
</table>