<table>
  <tr>
    <th>Review Date</th>
    <th>Item Name</th>
    <th>Rating</th>
    <th>Race</th>
    <th>Comments</th>
    <th>Admin Comments</th>
  </tr>
  <% reviews.each do |sub_review| %>
    <div class='user-review'>
      <tr>
        <td><%= sub_review.created_at.to_date %></td>
        <td><%= sub_review.item.brand + " " + sub_review.item.model %></td>
        <td><%= sub_review.rating %></td>
        <td><%= sub_review.race.name %></td>
        <td><%= sub_review.comments %></td>
        <td><%= sub_review.admin_comments %></td>
      </tr>
    </div>
  <% end %>
</table>