<h3 class="text-center"><%= @user.firstname %>'s Recent Strava Totals:</h3>
<div class="text-center">
  <% unless @strava_data.nil? %>
    <h5>Average Weekly Distance: <%= @strava_data.avg_weekly_distance %> miles</h5>
    <h5>Average Weekly Running Time: <%= @strava_data.avg_weekly_time %> hours</h5>
    <h5>Average Weekly Elevation Gain: <%= @strava_data.avg_weekly_elevation_gain %> feet</h5>
    <h5>Average Speed: <%= @strava_data.avg_speed %> mph</h5>
  <% end %>
</div>  
<hr>
<h3 class="text-center"><%= @user.firstname %>'s Reviews</h3>
<div class='text-center'id='user-<%= @user.id %>-approved-reviews'>
  <h4>Approved Reviews</h4>
  <table>
    <tr>
      <th>Review Date</th>
      <th>Item Name</th>
      <th>Rating</th>
      <th>Race</th>
    </tr>
    <% @approved_reviews.each do |review| %>
      <div class='user-review'>
        <tr>
          <td><%= review.created_at %></td>
          <td><%= review.item.brand + " " + review.item.model %></td>
          <td><%= review.rating %></td>
          <td><%= review.race.name %></td>
        </tr>
      </div>
    <% end %>
  </table>
  <hr>
</div>
<div class='text-center' id='user-<%= @user.id %>-pending-reviews'>
  <h4>Pending Reviews</h4>
  <table>
    <tr>
      <th>Review Date</th>
      <th>Item Name</th>
      <th>Rating</th>
      <th>Race</th>
    </tr>
    <% @pending_reviews.each do |review| %>
      <div class='user-review'>
        <tr>
          <td><%= review.created_at %></td>
          <td><%= review.item.brand + " " + review.item.model %></td>
          <td><%= review.rating %></td>
          <td><%= review.race.name %></td>
        </tr>
      </div>
    <% end %>
  </table>
  <hr>
</div>

<div class='text-center' id='user-<%= @user.id %>-rejected-reviews'>
  <h4>Rejected Reviews</h4>
  <table>
    <tr>
      <th>Review Date</th>
      <th>Item Name</th>
      <th>Rating</th>
      <th>Race</th>
    </tr>
    <% @rejected_reviews.each do |review| %>
      <div class='user-review'>
        <tr>
          <td><%= review.created_at %></td>
          <td><%= review.item.brand + " " + review.item.model %></td>
          <td><%= review.rating %></td>
          <td><%= review.race.name %></td>
        </tr>
      </div>
    <% end %>
  </table>
  <hr>
</div>
<div class="row text-center">
  <a href="/reviews/new" class="callout button">Submit A Product Review</a>
</div>