<div class="row text-center page-title">
  <h1>New Product Review</h1>
  <hr>
</div>

<% if current_user %>
  <div class="row text-center">
    <div class="large-6 large-centered columns text-center">
      <p>Ultra Swagger only accepts product reviews that are tied to an ultramarathon event. Your review will not be valid unless you select or enter the race in which you used that product.</p>
      <hr>
    </div>
  </div>
  <div class="row text-center">
    <div class="large-4 large-centered columns">
      <h5>PRODUCT</h5>
      <%= select_tag(:item_id, options_for_select(@item_options), { include_blank: "Select Product (or enter new product below)" }) %>
      <%= form_for @review do |f| %>
      <%= f.text_field(:rating, placeholder: "Rating (0-10)") %>
      <%= f.text_area(:comments, placeholder: "Comments") %>
        <h5>New Product Details</h5>
        <%= fields_for @review.item do |i| %>
          <%= i.text_field(:type, placeholder: "Item Type") %>
          <%= i.text_field(:brand, placeholder: "Brand Name") %>
          <%= i.text_field(:model, placeholder: "Model Name") %>
          <%= i.text_field(:sex, placeholder: "M/F") %>
          <%= i.text_field(:image_path, { value: nil, placeholder: "Item Image URL" }) %>
        <% end %>
        <hr>
        <h5>RACE</h5>
        <%= select_tag(:race_id, options_for_select(@race_options), { include_blank: "Select Race (or enter new race below)" }) %>
        <h5>New Race Details</h5>
        <%= fields_for @review.race do |r| %>
          <%= r.text_field(:name, placeholder: "Race Name") %>
          <%= r.text_field(:distance, placeholder: "Race Distance (e.g. '100 miles')") %>
          <%= r.text_field(:location, placeholder: "Race Location (e.g. 'Leadville, CO')") %>
          <%= r.text_field(:date, placeholder: "Race Date (e.g. '2016-07-10')") %>
        <% end %>
        <%= f.hidden_field(:user_id, value: @user.id) %>
        <%= f.submit "Submit Review", class: "callout button expanded" %>
      <% end %>
    </div>
  </div>
  
<% else %>
  <div class="row text-center">
    <h3>Please log in with Strava to submit a review.</h3>
    <hr>
  </div>
<% end %>